html,body{
  height:100%;
  background-color:#4080bf;
  font-family: 'Raleway', sans-serif;
    
}
/*START of NAV BAR*/
nav{
  height:20%;
  display:flex;
  flex-direction:row;
  align-items:center;
  margin:10px;
  box-sizing: border-box;
}
div{
  height:100%;
  width:50%;
}
#home{
  display:flex;
  justify-content:center;
  align-items:center;
}
#logo{
  height:100%;
  width:100%;
}
.buttons{
  height:33%;
  display:flex;
  justify-content:center;
  align-items:center;
}
a{
  text-decoration:none;
  color:#FFFF00;
  display:block;
}
a:hover{
    text-decoration: underline;
    color:#D4AF37;
}
a:visited{
    text-decoration:none;
    color:#D4AF37;
}
/*END of NAV BAR*/





/*START of main section

.bodysection{
    box-sizing: border-box;
    border: groove;
    border-color:#D4AF37;
    margin:4px;
    padding:20px;
    text-align:justify;
    font-size:3vw;
    color:#FFFFFF;
}

.poi{
    display:flex;
    align-self:flex-start;
    padding:5px;
    width:100%;
    margin-bottom: 10px;
}


/*END of main section
@media only screen and (min-width:450px)
{
  
  #logo{
  width:30%;
  
 
}
  #links{
  height:20%;
  display:flex;
  justify-content:flex-start;
  justify-content:space-around;

  }
  .bodysection{
    display:flex;
    font-size:2vw;
    align-items:center;
    
  }
  img{
    width:300px;
    height:250px;
  }
}